{{ define "main" }}

<!--[if lt IE 10]>
  <p class="chromeframe">
    You are using an <strong>outdated</strong> browser. Please
    <a href="http://browsehappy.com/">upgrade your browser</a> or
    <a href="http://www.google.com/chromeframe/?redirect=true"
      >activate Google Chrome Frame</a
    >
    to improve your experience.
  </p>
<![endif]-->
<div id="container-wrap">
  <div id="container">
    <ul class="pages paper-vertical" id="slider">
      <li class="page" data-name="1">
        <div
          class="page-scale-wrap mq-none mq-default"
          role="region"
          data-layout-name="undefined"
          style="width: 1584px; height: 1224px"
        >
          <div id="item299" class="pageItem" alt="NVisionIT Interactive">
            <img
              src="/assets/images/blank.gif"
              style="top: -188px"
              alt="NVisionIT Interactive"
              class="svg-img pageItem"
              data-src="/assets/images/item_299.svg"
            />
          </div>
          <div id="item336" class="pageItem" alt="Slides.com">
            <img
              src="/assets/images/blank.gif"
              style="top: -85px"
              alt="Slides.com"
              class="svg-img pageItem"
              data-src="/assets/images/item_336.svg"
            />
          </div>
          <div
            id="item700"
            class="pageItem"
            alt="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In..."
          >
            <img
              src="/assets/images/blank.gif"
              style="top: -6px"
              alt="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In..."
              class="svg-img pageItem"
              data-src="/assets/images/item_700.svg"
            />
          </div>
          <div id="item730" class="pageItem embed-container" alt="HTML">
            <iframe
              src="https://slides.com/sebastiann45/deck-e273c9/embed"
              width="1235"
              height="750"
              title="Copy of deck"
              scrolling="no"
              frameborder="0"
              webkitallowfullscreen
              mozallowfullscreen
              allowfullscreen="allowfullscreen"
            ></iframe>
          </div>
        </div>
      </li>
      <li class="page" data-name="2">
        <div
          class="page-scale-wrap mq-none mq-default"
          role="region"
          data-layout-name="undefined"
          style="width: 1584px; height: 1224px"
        >
          <div id="item425" class="pageItem embed-container" alt="HTML">
            <iframe
              width="918"
              height="555"
              allowfullscreen
              src="https://v3d.net/12p4"
            ></iframe>
          </div>
          <div
            id="item430"
            class="pageItem"
            alt="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In..."
          >
            <img
              src="/assets/images/blank.gif"
              style="top: -6px"
              alt="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In..."
              class="svg-img pageItem"
              data-src="/assets/images/item_430.svg"
            />
          </div>
          <div
            id="item676"
            class="pageItem"
            alt="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In..."
          >
            <img
              src="/assets/images/blank.gif"
              style="top: -6px"
              alt="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In..."
              class="svg-img pageItem"
              data-src="/assets/images/item_676.svg"
            />
          </div>
          <div id="item454" class="pageItem" alt="Swiss Army Knife">
            <img
              src="/assets/images/blank.gif"
              style="top: -85px"
              alt="Swiss Army Knife"
              class="svg-img pageItem"
              data-src="/assets/images/item_454.svg"
            />
          </div>
          <div id="item515" class="pageItem" alt="Venetian Mask">
            <img
              src="/assets/images/blank.gif"
              style="top: -85px"
              alt="Venetian Mask"
              class="svg-img pageItem"
              data-src="/assets/images/item_515.svg"
            />
          </div>
          <div id="item615" class="pageItem embed-container" alt="HTML">
            <iframe
              width="918"
              height="610"
              allowfullscreen
              src="https://v3d.net/12p7"
            ></iframe>
          </div>
        </div>
      </li>
    </ul>

    {{ end }}
  </div>
</div>
